.shell {
    display: grid;
    grid-template-columns: 256px 1fr;
    height: 100%;
    min-height: 100vh;
}

.leftNav {
    border-right: 1px solid var(--colors-grey300);
    padding: var(--spacers-dp16) 0;
    overflow-y: auto;
}

.contentArea {
    padding: var(--spacers-dp24);
    overflow-y: auto;
}

.noAccess {
    display: grid;
    place-items: center;
    height: 100%;
    min-height: 100vh;
    padding: var(--spacers-dp24);
}
